{% extends 'base.html' %}

{% block content %}
	{% if category_name == '팝업스토어' %}
		{% for goods in board %}
		<div class="border-bottom border-secondary-subtle" style="display:flex; flex-direction:row; justify-content:space-between;" onclick="location.href='{% url 'kakaopay:goods_detail' goods.pk %}'">
			<div>
				<p> {{ goods.goods_name }} </p>
				<p> {{ goods.price }}</p>
			</div>
		</div>
		{% endfor %}
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm justify-content-center">
				{% if board.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{board.previous_page_number}}" tabindex="-1">이전</a></li>
				{% endif %}

				{% for p in board.paginator.page_range %}
					<li class="page-item"><a class="page-link" href="?page={{p}}" class="mx-1">{{p}}</a></li>
				{% endfor %}

				{% if board.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{board.next_page_number}}">다음</a></li>
				{% endif %}
			</ul>
		</nav>

	{% else %}
		{% for article in board %}
		<div class="border-bottom border-secondary-subtle" style="display:flex; flex-direction:row; justify-content:space-between;" onclick="location.href='{% url 'articles:detail' article.pk %}'">
			<div>
				<p> {{ article.title }} </p>
				<p> {{ article.content|slice:":60"|striptags|safe }}</p>
			</div>
			<div class="recommendation-info">
				<p> 추천 </p>
				<p> {{ article.like_user.count }}</p>
			</div>
		</div>
		{% endfor %}
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm justify-content-center">
				{% if board.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{board.previous_page_number}}" tabindex="-1">이전</a></li>
				{% endif %}

				{% for p in board.paginator.page_range %}
					<li class="page-item"><a class="page-link" href="?page={{p}}" class="mx-1">{{p}}</a></li>
				{% endfor %}

				{% if board.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{board.next_page_number}}">다음</a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}

<style>
	.recommendation-info {
		display:flex;
		flex-direction:column;
		align-items:center;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// 페이지가 로드된 후 실행될 코드
	var contentDivs = document.querySelectorAll('.content_class');

	contentDivs.forEach(function(contentDiv) {
			// img 태그 삭제
		contentDiv.innerHTML = contentDiv.innerHTML.replace(/<img\b[^>]*>/gi, '사진');
		});
	});
	document.addEventListener("DOMContentLoaded", function() {
        // 페이지가 로드된 후 실행될 코드
        var emptyPTags = document.querySelectorAll('p:empty');

        emptyPTags.forEach(function(emptyPTag) {
            emptyPTag.parentNode.removeChild(emptyPTag);
        });
    });
</script>
{% endblock content %}