{% extends 'base.html' %}

{% block content %}

<form action="{% url 'articles:create' %}" method="POST" enctype="multipart/form-data" >
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
    <input type="submit" style="width:100%" class="btn btn-primary" value="글 작성">
</form>

<script>
    // 문서가 완전히 로드된 후 실행
    document.addEventListener('DOMContentLoaded', function() {
      // 요소를 찾아서 required 속성을 삭제
      var contentTextarea = document.getElementById('id_content');
      if (contentTextarea) {
        contentTextarea.removeAttribute('required');
      }
    });
    ClassicEditor
        .create( document.querySelector( '#id_content' ) )
        .catch( error => {
            console.error( error );
        } );

    // JavaScript 코드
    var elements = document.getElementsByClassName("django-ckeditor-widget");

    for (var i = 0; i < elements.length; i++) {
        elements[i].style.cssText = ""; // style 속성을 비워서 스타일을 제거
}
// HTML 문서가 로드된 후 실행되도록 이벤트를 설정합니다.
document.addEventListener("DOMContentLoaded", function() {
    // 클래스명이 "ck"인 모든 요소를 찾습니다.
    var elementsToRemove = document.querySelectorAll(".ck");

    // 찾은 요소를 순회하면서 각각을 삭제합니다.
    elementsToRemove.forEach(function(element) {
        element.remove();
    });
});


</script>


{% endblock content %}