{% extends 'base.html' %}

{% block content %}

    {% for article in articles %}
    <div style="display:flex; weight:100%;flex-direction:row; justify-content:space-between; align-items:center; border:1px solid black;" onclick="location.href='{% url 'articles:detail' article.pk %}';">
        <div>
             <p>{{ article.title }}</p>
             <p>{{ article.content}}</p>
             <p>{{ article.comment_count}}</p>
        </div>
        <div style="display:flex; flex-direction:column; justify-content:space-between; align-items:center;">
            <p>추천</p>
            <p>{{ article.like_user.all|length }}</p>
        </div>
    </div>

    {% endfor %}
{% endblock content %}