{% extends 'base.html' %}

{% block content %}
		{% for article in articles %}
		<div class="border-bottom border-secondary-subtle" style="display:flex; flex-direction:row; justify-content:space-between;" onclick="location.href='{% url 'articles:detail' article.pk %}'">
			<div>
				<p> {{ article.title }} </p>
				<p> {{ article.content|slice:":60"|striptags|safe }}</p>
			</div>
			<div class="recommendation-info">
				<p> 추천 </p>
				<p> {{ article.like_user.count }}</p>
			</div>
		</div>
		{% endfor %}
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm justify-content-center">
				{% if board.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{board.previous_page_number}}" tabindex="-1">이전</a></li>
				{% endif %}

				{% for p in board.paginator.page_range %}
					<li class="page-item"><a class="page-link" href="?page={{p}}" class="mx-1">{{p}}</a></li>
				{% endfor %}

				{% if board.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{board.next_page_number}}">다음</a></li>
				{% endif %}
			</ul>
		</nav>
	<form class="form-inline justify-content-center" method="POST" action="{% url 'articles:category_search' category_name=category_name %}">
	  {% csrf_token %}
	  <div class="row">
		<div class="col-1">
		</div>
	    <div class="col-2">
			{% if category_name == '팝업스토어' %}
			<select class="form-select w-100" name="category">
				<option value="1">상품명+내용</option>
				<option value="2">상품명</option>
				<option value="3">내용</option>
				<option value="4">유저이름</option>
				<!-- 필요한 만큼 옵션을 추가할 수 있습니다. -->
      		</select>
			{% else %}
			<select class="form-select w-100" name="category">
				<option value="1">제목+내용</option>
				<option value="2">제목</option>
				<option value="3">내용</option>
				<option value="4">유저이름</option>
				<!-- 필요한 만큼 옵션을 추가할 수 있습니다. -->
      		</select>
			{% endif %}
		</div>
		<div class="col-6">
		  <input class="form-control w-100" type="search" name="searched" placeholder="검색" aria-label="Search">
		</div>
		<div class="col-2">
		  <button class="btn btn-outline-success w-100" type="submit">검색</button>
		</div>
	  </div>
	</form>

<style>
	.recommendation-info {
		display:flex;
		flex-direction:column;
		align-items:center;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// 페이지가 로드된 후 실행될 코드
	var contentDivs = document.querySelectorAll('.content_class');

	contentDivs.forEach(function(contentDiv) {
			// img 태그 삭제
		contentDiv.innerHTML = contentDiv.innerHTML.replace(/<img\b[^>]*>/gi, '사진');
		});
	});
	document.addEventListener("DOMContentLoaded", function() {
        // 페이지가 로드된 후 실행될 코드
        var emptyPTags = document.querySelectorAll('p:empty');

        emptyPTags.forEach(function(emptyPTag) {
            emptyPTag.parentNode.removeChild(emptyPTag);
        });
    });
</script>
{% endblock content %}